.annotationManager {
	display: flex;
	position: relative;
	width: 100%;
	background: $black-200;
	@include media-breakpoint-down('md'){
		margin-top: px(48);
		padding: px(0) px(24);
	}

	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: px(58) px(0);

		h4 {
			font-size: px(24);
			color: $primary;
			letter-spacing: px(1);
			margin: 0;
			padding: px(24) px(0);
		}

		p {
			font-size: px(16);
			color: $primary;
			text-align: left;
			margin: 0;
			padding: 0;
		}

		.information{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: px(0) px(55);
			min-height: px(1200);

			h5{
				display: flex;
				flex-direction: row;
				font-size: px(16);
				font-weight: 600;
				text-align: left;
				color: $white;
				margin: 0;
				padding: px(8) 0;
				border-bottom: px(1) solid $grey-600;


				span{
					font-size: px(14);
					font-weight: 500;
				}
			}

			.inputGroup{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				@include media-breakpoint-down('md'){
					flex-direction: column;
				}

				.inputFiled{
					display: flex;
					flex-direction: row;
					width: 47%;
					height: px(56);
					border-radius: px(12);
					@include media-breakpoint-down('md'){
						width: 100%;
						&:not(:last-of-type){
							margin-bottom: px(24);
						}
					}

					input{
						background: none;
						width: 100%;
						height: 100%;
						border: px(2) solid $grey-600;
						border-radius: px(12);
						padding-left: px(20);
						color: $white;
					}
				}
			}
			.inputGroupFile{
				display: flex;
				flex-direction: column;
				width: 100%;
				position: relative;

				p{
					font-size: px(16);
					color: $white;
					padding: px(12) px(0);
				}

				.file{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					height: px(85);
					width: 100%;
					border: px(1) dashed $grey-600;
					background: $black-300;
					border-radius: px(12);

					.customFile{
						position: absolute;
						background: $primary;
						color: $white;
						font-size: px(14);
						font-weight: 600;
						padding: px(7) px(15);
						border-radius: px(8);
						left: px(24);
						cursor: pointer;
					}

					.inputFile::-webkit-file-upload-button {
						visibility: hidden;
					}
					.inputFile {
						visibility: hidden;
						cursor: pointer;
					}
				}
			}
			.inputFieldMax{
				display: flex;
				flex-direction: column;
				width: 100%;
				border-radius: px(12);

				p{
					font-size: px(16);
					color: $white;
					padding: px(12) px(0);
				}

				input{
					width: 100%;
					height: px(85);
					border-radius: px(12);
					border: px(1) solid $grey-600;
					background: none;
				}
			}
			.submit{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.btn{
					padding: px(16) px(95);
					font-size: px(16);
					font-weight: 600;
					color: $white;
					background: $primary;
					border-radius: px(12);
					cursor: pointer;
				}
			}
		}

	}
}