.extraVideos{
	display: flex;
	width: 100%;
	background: $black;
	padding: px(48) 0 0 px(0);

	.container{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: normal;
		width: 100%;

		div{
			display: flex;
			flex-direction: column;
			width: 30%;
			height: px(445);
			border-radius: px(24);
			overflow: hidden;
			margin-bottom: px(48);
			@include media-breakpoint-down('md'){
				width: 100%;
			}

			.content{
				display: flex;
				flex-direction: column;
				width: 100%;

				h3{
					color: $primary;
					margin: px(9) 0;
				}

				p{
					color: white;
					margin: 0;
					line-height: 2;
				}
			}
		}

	}
}