.installMetaTrader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: $black-400;
	background-size: cover !important;
	color: $white;
	width: 100%;
	height: 100%;
	padding: px(48) 0;

	.container {
		display: flex;
		flex-direction: column;
		height: 100%;

		.installMetaTraderTitle {
			color: $white;
			margin: 0 0 px(48) 0;
		}

		.installMetaTraderMenu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			border-bottom: px(1) solid $grey-300;
			padding: 0;

			@include media-breakpoint-down('md'){
				align-items: baseline;
				width: 100%;
			}

			.installMetaTraderMenuItem {
				font-size: px(16);
				padding: px(12) px(46);
				color: $grey-400;
				list-style: none;
				cursor: pointer;
				@include media-breakpoint-down('md'){
					padding: px(12) px(0);
					font-size: px(12);
				}

				&.active {
					border-bottom: 2px solid $primary;
					color: $primary;
				}
			}
		}

		.installMetaTraderItemWrapper {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: px(420);
			padding: px(48) 0 0 0;
			justify-content: space-between;
			@include media-breakpoint-down('md'){
				flex-direction: column;
				height: 100%;
			}

			.installMetaTraderItemContent {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: px(690);
				height: 100%;
				font-size: px(16);
				color: white;
				padding-right: px(65);
				@include media-breakpoint-down('md'){
					width: 100%;
					padding-right: px(0);
				}

				p {
					width: 100%;
					padding: 0;
					margin: 0;
					line-height: 2;
				}
			}

			.installMetaTraderItemImage {
				display: flex;
				width: 100%;
				height: 100%;
				@include media-breakpoint-down('md'){
					margin-top: px(48);
				}
			}
		}
	}
}