.moneyManager {
	display: flex;
	flex-direction: column;
	width: 100%;

	.guidePlatform {
		display: flex;
		width: 100%;
		height: 100%;
		padding: px(48) 0;

		.container {
			display: flex;
			width: 100%;

			.guideWrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				@include media-breakpoint-down('md') {
					flex-direction: column;
				}

				.animate {
					display: flex;
					flex-direction: column;
					width: 47%;
					@include media-breakpoint-down('md') {
						width: 100%;
						margin: 0 0 px(24) 0;
					}

					p {
						margin: 0 0 px(12) 0;
						font-size: px(28);
						font-weight: 400;
					}

					h1 {
						margin: 0 0 px(24) 0;
					}
				}

				.content {
					display: flex;
					flex-direction: column;
					width: 47%;
					@include media-breakpoint-down('md') {
						width: 100%;
					}

					.contentWrapper {
						display: flex;
						flex-direction: row;
						width: 100%;
						padding: px(12) 0;

						.contentImg {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							margin-right: px(24);

							img {
								object-fit: contain;
							}
						}

						.contentText {
							display: flex;
							flex-direction: column;

							p {
								line-height: 2;
							}

							h2 {
								margin: 0 0 px(12) 0;
							}
						}
					}

				}
			}
		}
	}

	.feature {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: px(48) 0 0 0;

		.featureWrapper {
			display: flex;
			width: 100%;
			height: 100%;

			.container {
				display: flex;
				flex-direction: column;
				width: 100%;

				h1 {
					text-align: center;
					margin: 0 0 px(48) 0;
				}

				.featureList {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
					@include media-breakpoint-down('md') {
						flex-direction: column;
						flex-wrap: unset;
					}

					.featureItem {
						display: flex;
						flex-direction: row;
						width: 30%;
						margin-bottom: px(48);
						@include media-breakpoint-down('md') {
							width: 100%;
						}

						.featureImg {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							margin-right: px(12);

							svg {
								width: px(40);
								height: px(40);
							}
						}

						.featureContent {
							display: flex;
							flex-direction: column;

							p {
								line-height: 2;
							}

							h2 {
								margin: 0 0 px(12) 0;
							}

							ul {
								list-style-type: circle;
								line-height: 2;
							}
						}
					}
				}
			}
		}

	}

	.moneyManagerMiddle {
		display: flex;
		flex-direction: column;
		width: 100%;
		background: transparent;

		.container {
			display: flex;
			justify-content: center;
			width: 100%;

			h1 {
				text-align: center;
				margin: px(48) 0 px(48) 0;

				.bold {
					font-size: px(26);
					line-height: 2;
					font-weight: 900;
					margin: px(0) px(8);
				}
			}
		}
	}

	.moneyManagerBottom, .moneyManagerLatest, .transparentCalculation, .bePart, .fullyCustomisable {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: px(48) px(0);

		.container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			.left, .right {
				display: flex;
				flex-direction: column;
				width: 43%;

				.title {
					display: flex;
					flex-direction: column;
					width: 100%;

					h2 {
						margin: px(0) 0 px(24) 0;
						line-height: 2;

						.bold {
							font-size: px(24);
							font-weight: 900;
							margin: px(0) px(8);
						}
					}
				}

				.content {
					display: flex;
					flex-direction: column;
					width: 100%;

					.item {
						display: flex;
						flex-direction: row;
						align-items: center;
						width: 100%;

						&:not(:last-of-type) {
							margin-bottom: px(16);
						}

						p {
							margin: 0;
							font-size: px(16);
							line-height: 2;
						}

						span {
							color: $green-400;
						}

						&.rtl {

							span {
								transform: scale(1, 1);
								padding: 0 px(12);
							}
						}

					}

					table {
						width: 100%;

						thead {

							tr {
								color: black;

								th {
									text-align: left;
									height: px(46);
									font-size: px(16);
									font-weight: bold;
									padding: px(6);
								}
							}
						}

						tbody {


							tr {
								background-color: #323C50;
								color: #ffffff;

								td {
									text-align: left;
									height: px(36);
									padding: px(6);

								}

								&:nth-child(2n) {
									background-color: #2C3446;
								}
							}
						}
					}
				}
			}
		}

		.btn {
			display: flex;
			width: 100%;
			margin-top: px(16);

			.container {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;

				a {
					padding: px(12) px(18);
					border: 1px solid $primary;
					color: $primary;
					border-radius: px(8);
					font-size: px(16);
					font-weight: 600;

					&:hover {
						transition: all ease-in-out 0.2s;
						color: $black;
						background: $primary;
						box-shadow: 0 px(3) px(6) 0 rgba(0, 0, 0, 0.7);
					}
				}
			}
		}
	}

	.moneyManagerLatest {
		background: #eee;

		@include media-breakpoint-down('md') {
			.container {
				flex-direction: column;

				.left, .right {
					width: 100%;
				}
			}
		}

		.container {
			padding: px(48) px(0);

			.right {
				position: relative;
				top: 0;

				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}

	.transparentCalculation {
		background: url("./bg-moneymanager.jpg");
		background-size: 100%;

		.container {
			.right {
				color: #ffffff;
			}
		}
	}

	.bePart {
		background: url("./bg-fpmmp.jpg");
		background-size: cover;

		@include media-breakpoint-down('md') {
			background: none;

			.container {
				width: 100%;

				.left, .right {
					width: 100%;
				}
				.right{
					display: none;
				}
			}
		}
	}
	.bePartFa{
		background: url("./bg-fpmmpfa.jpg");
		background-size: cover;
	}


	.faq {
		display: flex;
		width: 100%;
		padding: px(24) 0;
		background: $black-200;
		color: $white;

		.container {
			display: flex;
			flex-direction: column;
			width: 100%;

			.title {
				display: flex;
				flex-direction: column;
				width: 100%;

				h2 {
					color: $primary;
					font-weight: 700;
					line-height: 3;
				}
			}

			.faqContentWrapper {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				width: 100%;

				.faqItem {
					display: flex;
					flex-direction: column;
					padding: px(36) px(24);
					transition: 0.4s all;
					color: $white;
					border: px(1) solid $grey-500;

					.faqQuestion {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						cursor: pointer;
						line-height: 2;

						.faqItemQuestion {
							width: 100%;
							@include media-breakpoint-down('md') {
								font-size: px(14);
							}
						}

						.faqItemIcon {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: px(64);
							font-size: px(28);
						}
					}

					.faqAnswer {
						display: none;
						padding: px(24);

						p {
							font-size: px(14);
							line-height: 2;
						}
					}

					&.active {
						.faqQuestion {
							.faqItemQuestion {
								color: $primary;
							}

							.faqItemIcon {
								color: $primary;
							}
						}

						.faqAnswer {
							display: flex;
							animation: rotateMenu 400ms ease-in-out forwards;
							transform-origin: top center;
						}
					}

				}

			}
		}
	}
}


@keyframes rotateMenu {
	0% {
		transform: scaleY(0)
	}
	80% {
		transform: scaleY(1.1)
	}
	100% {
		transform: scaleY(1)
	}
}