.tableMenu{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: px(48) px(0) px(12) px(0);

	.tableMenuWrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.menu{
			width: 30%;

			.leaderBoardMenu{
				height: 48px;
				border: 1px solid #dedede;
				border-radius: 6px;
				font-weight: 600;
				padding: 0 16px;

				option{
					padding: 12px 0;
				}
			}
		}
		.search{
			width: 64%;
		}

		@include media-breakpoint-down("md"){
			flex-direction: column;

			.menu{
				width: 100%;
			}
			.search{
				margin-top: 24px;
				width: 100%;
			}
		}
	}

	.leaderBoardMenu{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: px(0) px(120);
		border-bottom: px(1) solid $grey-300;
		@include media-breakpoint-down('md'){
			padding: px(0);
		}
		.leaderBoardMenuItem{
			font-size: px(16);
			color: $grey-400;
			list-style: none;
			padding: px(12) px(46);
			cursor: pointer;
			@include media-breakpoint-down('md'){
				padding: px(16);
			}
			&.active{
				border-bottom: 2px solid $primary;
				color: $primary;
			}
		}
	}
}