.incentivePlan{
	display: flex;
	width: 100%;
	overflow: hidden;
	background: url("../../homepage/importan-symbols-back.png") no-repeat;
	background-size: cover !important;
	height: 100%;
	padding: px(48) px(0);

	.container {
		display: flex;
		flex-direction: column;
		h2{
			margin: 0 0 px(48) 0;
		}
		p{
			font-size: px(14);
			font-weight: 450;
			margin: 0 0 px(48) 0;
		}

		.incentivePlanWrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			@include media-breakpoint-down('md'){
				flex-direction: column;
			}

			.incentivePlanLeft{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				line-height: 2;

				h2{
					margin: px(48) px(0) px(24) px(0);
				}

				p{
					font-size: px(14);
					line-height: 1.5;
					margin: 0;
					&:not(:last-of-type){
						margin-bottom: px(8);
					}
				}
			}

		}
		.notice{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: px(24) 0 0 0;

			a{
				color: $blue-500;
			}
			p{
				font-size: px(14);
				font-weight: 550;
				color: $grey-400;
			}
		}

	}
}