.tables{
	display: none;

	&.active{
		display: flex ;
		flex-direction: column ;
		width: 100% ;
	}
}
.conditions{
	display: none;
	&.active{
		display: flex ;
		flex-direction: column;
		width: 100%;
	}
}